body, html {
    background: #202731;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: 0%;
}

.welcome-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .welcome-wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }
  
  .welcome-wave .shape-fill {
    fill: #202731;
  }

  .pending-connections {
    padding: 50px 10vw 200px;
    position: relative;
    background: rgb(252,8,255);
    background: linear-gradient(90deg, rgba(252,8,255,1) 0%, rgba(128,0,255,1) 100%); 
    font-family: 'Prompt', sans-serif;
  }

  .pending-connections h2 {
    color: white;
  }

  .profile-card img {
    height: 200px;
  }

  .profile-card-btns {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  .age-location {
    margin-top: 0;
    font-size: 0.8em;
  }

  .card-title {
    margin-bottom: 0px;
    margin-top: -10px;
  }

  .suggested-users {
    padding: 50px 10vw 200px;
    position: relative;
    background: #202731;
    font-family: 'Prompt', sans-serif;
  }

  .suggested-users h2 {
    color: white;
  }

  .browse-grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 300px auto;

  }

  .filterOptionsContainer {
    background-color: #343a40;
    grid-column: 1;
    padding: 15px;
  }

  .usersContainer {
    background-color: #202731;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    padding: 40px;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    justify-content: center;
    align-content: start;
  }

  .navbar {
    border-bottom: #202731 2px solid;
  }

  .filterOptionsContainer .form-label, .filterOptionsContainer .rangeval, .filterOptionsContainer .form-check-label {
    color: white;
  }

  #distanceOptions {
    display: none;
  }

  #ageOptions {
    display: none;
  }

  .chats-grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 300px auto 300px;
  }

  .chats-list {
    grid-column: 1;
    background-color: #343a40;
    display: flexbox;
    flex-direction: column;
  }

  .chat-body {
    grid-column: 2;
  }

  .chat-profile {
    grid-column: 3;
    background-color: #343a40;
  }

  .chat-thumb {
    height: 80px;
    border-bottom: #202731 2px solid;
    display: grid;
    grid-template-columns: 80px auto;
  }

  .chat-thumb-profile-pic-container {
    padding: 10px;
    grid-column: 1;
  }

  .chat-thumb-profile-pic {
    border-radius: 30px;
  }

  .chat-preview {
    padding: 10px;
    display: grid;
    grid-template-rows: 20px auto;
  }

  .chat-preview-username {
    color: white;
  }

  .chat-preview-content {
    padding-top: 10px;
    font-size: 0.8em;
    color: #bababa;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

