body, html {
    background: #202731;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: 0%;
}

.welcome-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .welcome-wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }
  
  .welcome-wave .shape-fill {
    fill: #202731;
  }

  .pending-connections {
    padding: 100px 10vw 200px;
    position: relative;
    background: rgb(252,8,255);
    background: linear-gradient(90deg, rgba(252,8,255,1) 0%, rgba(128,0,255,1) 100%); 
    font-family: 'Prompt', sans-serif;
  }